body {
    background-color: #333; /* Fondo gris oscuro */
    text-align: center;
}

.container {
    background-color: #fff; /* Fondo blanco */
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}
